:root {
    --primary-color: rgb(4, 4, 53);
    --white-color: rgb(255, 255, 255);
    --font-family: Arial, sans-serif;
}

body {
    background-color: var(--white-color);
    font-family: var(--font-family);
    padding: 40px;
    color: var(--primary-color);
}

a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent element */
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

ul {
  text-align: left;  /* Forces text alignment to the left */
  font-size: 24px;
  font-weight: bold;
}

.white-text {
    font-size: 18px;
    line-height: 1.6;
    color: var(--primary-color);
    text-align: justify;
}

#myDIV2, #myDIV3, #myDIV4, #myDIV5 {
    display: none; /* Initially hide the second and third sections */
}

.flex-container {
  display: flex; /* Aligns children horizontally */
  gap: 15px;      /* Adds space between the items */
}

.box {
  padding: 10px;
}

.box-tab {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    flex-grow: 1; /* Allows the tabs to grow and fill the available space */
    cursor: pointer; /* Changes cursor to pointer on hover */
}

#box-1 {
    flex: 0.5;        /* Makes this box take up twice the space of box-2 */
}

#box-2 {
    flex: 2;        /* Makes this box take up twice the space of box-1 */
    text-align: justify;
    padding: 20px;
}

#box-3 {
    flex: 0.5;        /* Makes this box take up twice the space of box-4 */
}

#box-4 {
    flex: 2;        /* Makes this box take up twice the space of box-3 */
    text-align: justify;
    padding: 20px;
}

#box-5 {
    background-color: var(--white-color);
    border-radius: 25px;
    padding: 20px;
    border: 3px solid var(--primary-color);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    flex-grow: 1; /* Allows the tabs to grow and fill the available space */
}

.hover:hover {
    /* horizontal | vertical | blur | color */
    box-shadow: 10px 10px 8px 0px rgba(4, 4, 53, 0.3);
    
    /* Optional: Lift the box slightly for a 3D effect */
    transform: translateY(-5px);
}

.alesha-1 {
    height: 645px;
    width: 300px;
    background: linear-gradient(var(--white-color), var(--primary-color));
    border-radius: 125px 125px 00px 0px;
}

#inl-1 {
    height: 710px;
    width: 400px;
}

#inl-2 {
    height: 930px;
    width: 1395px;
}

#fl-1 {
    height: 1143px;
    width: 1000px;
}

#ef-2 {
    height: 1046px;
    width: 1395px;
}

#ma-1 {
    height: 711px;
    width: 600px;
}

#stem-1 {
    height: 748px;
    width: 750px;
}

#stem-2 {
    height: 785px;
    width: 1395px;
}

#raya-1 {
    height: 600px;
    width: 800px;
}

#raya-2 {
    height: 1172px;
    width: 1395px;
}

#tkc-1 {
    height: 620px;
    width: 1000px;
}

#tkc-2 {
    height: 930px;
    width: 1395px;
}

#yk-1 {
    height: 533px;
    width: 800px;
}

#yk-2 {
    height: 930px;
    width: 1395px;
}

#scc-2 {
    height: 846px;
    width: 1395px;
}

#pds-1 {
    height: 567px;
    width: 500px;
}

#pds-2 {
    height: 820px;
    width: 1395px;
}

.blue-border {
    border: 5px solid var(--primary-color);
}

#lamopets {
    height: 125px;
    width: 250px;
}

#ebhive {
    height: 125px;
    width: 378px;
}


hr {
    border: none;               /* Clear default browser styles */
    height: 4px;                /* Set the thickness of the line */
    background-color: var(--primary-color);     /* Set the line color */
    width: 100%; /* Must be less than 100% to see alignment */
    margin-left: 0;
    margin-right: auto;
}